@import "../custom.scss";

.bag {
	display: flex;
	flex-direction: column;
	.offcanvas-header {
		div {
			cursor: pointer;
			color: whitesmoke;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
			padding: 12px 0px;
			svg {
				margin: 0px 10px;
			}
		}
	}
	.bag__product {
		background-color: whitesmoke;
		flex: 1 1 auto;
	}
	.bag__subtotal {
		.bag__subtotal-price {
			color: whitesmoke;
			@include font-style-bag-footer;
		}
		.bag__subtotal-btn {
			background-color: #efc2b3;
			@include font-style-bag-footer;
			transition: all 0.3s ease-in-out;
			&:hover {
				background-color: #e8a993;
				border-color: #e6a089;
			}
		}
		.bag__subtotal-discount {
			background-color: transparent;
			color: #ff7952;
			cursor: pointer;
			@include font-style-min;
			&:after {
				background-color: #ff3e05;
				@include after-line;
			}
			&:hover {
				color: #ff3e05;
			}
			&:hover::after {
				visibility: visible;
			}
		}
		form {
			input {
				padding-left: 20px;
			}
		}
		.bag__subtotal-discount-p {
			margin-bottom: 0px;
			@include font-style-min;
			button {
				background-color: transparent;
				&:first-child {
					color: #ff7952;
				}
				&:first-child::after {
					background-color: #ff3e05;
					@include after-line;
				}
				&:first-child:hover {
					color: #ff3e05;
				}
				&:first-child:hover::after {
					visibility: visible;
				}
				&:last-child {
					color: #6c757d;
				}
			}
		}
	}
}
