$border-radius: unset !important;
$min-font-weight: 200;

.navbar-custom {
	margin: 5px;
	background-color: #1a2456 !important;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	@media (min-width: 450px) {
		margin: 15px;
	}
}
.navbar-custom__logo {
	color: #efc2b3;
	&:hover {
		color: #ff7952;
	}
}
.navbar-custom__body {
	text-transform: uppercase;
	.nav-link {
		padding-right: 12px !important;
		padding-left: 12px !important;
		color: #efc2b3;
		&:hover {
			color: #ff7952;
		}
	}
	.nav-link.show {
		color: #efc2b3 !important;
	}
	color: #efc2b3;
	.navbar-custom__body-dropdown {
		.dropdown-toggle:hover {
			color: #e3e8ed;
			background-color: unset;
		}
		.dropdown-menu {
			border-radius: $border-radius;
			a {
				color: #1a2456;
				font-size: 0.9rem;
				font-weight: $min-font-weight;
			}
		}
		a {
			&:hover {
				background-color: rgba(113, 113, 113, 0.082);
			}
		}
	}
	.navbar-custom__body-dropdown-offc {
		.dropdown-menu {
			background-color: transparent !important;
			border: unset !important;
		}
		a {
			color: #efc2b3 !important;
			&:hover {
				background-color: transparent !important;
				color: #ff7952 !important;
			}
		}
	}
}
.navbar-custom__basket {
	.dropdown-menu {
		border-radius: $border-radius;
		--bs-dropdown-min-width: 5rem;
		a {
			font-weight: $min-font-weight;
		}
	}
	.dropdown-menu[data-bs-popper] {
		left: -46px;
	}
	a {
		&:hover {
			color: white;
			background-color: #1a2456;
		}
	}
	.nav-link {
		color: #efc2b3;
		padding-right: 4px !important;
		padding-left: 4px !important;
		&:focus {
			color: #efc2b3;
		}
		@media (min-width: 450px) {
			padding-right: 12px !important;
			padding-left: 12px !important;
		}
	}
}
.navbar-toggler {
	border: unset !important;
	.navbar-toggler-icon {
		filter: invert(29%) sepia(6%) saturate(2964%) hue-rotate(337deg)
			brightness(118%) contrast(87%);
	}
	&:focus {
		box-shadow: none !important;
	}
}
.offcanvas.show:not(.hiding),
.offcanvas-toggling {
	background-color: #1a2456 !important;
	align-items: flex-start;
	.btn-close {
		filter: invert(58%) sepia(5%) saturate(2964%) hue-rotate(337deg)
			brightness(118%) contrast(87%);
	}
}
