@import "../custom.scss";
.products-page {
	background-color: $background-color;
}
.product {
	padding-top: 6rem;
}
.product__body-main-swiper {
	height: 73vh;
}
.swiper {
	width: 100%;
	height: 100%;
}
.product__body-main-swiper .mySwiper {
	padding-top: 10px;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

body {
	background: #000;
	color: #000;
}

.swiper {
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	background-size: cover;
	background-position: center;
}

.mySwiper2 {
	height: 70% !important;
	width: 100%;
}

.mySwiper {
	height: 30% !important;
	box-sizing: border-box;
	padding: 10px 0;
}

.mySwiper .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
	opacity: 1;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
