$background-color: #f0efed;
@mixin font-style-maxweight {
	font-weight: 600;
	letter-spacing: 0.1rem;
	font-size: 0.8rem;
}
@mixin font-style-min {
	font-weight: 200;
	font-size: 0.8rem;
}
@mixin font-style-weightandsize {
	font-weight: 600;
	letter-spacing: 0.1rem;
	font-size: 1.6rem;
}
@mixin font-style-bag-footer {
	font-weight: 600;
	letter-spacing: 0.07rem;
}
@mixin after-line {
	display: block;
	content: ("");
	width: 100%;
	height: 1px;
	border-radius: 10px;
	visibility: hidden;
}
@mixin button-add-to-bag {
	color: #fff;
	background-color: #1a2456;
	border-color: #1a2456;
	&:hover {
		color: #fff;
		background-color: #111839;
		border-color: #0e142f;
	}
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(60, 69, 111, 0.5);
	}
	&:active {
		color: #fff;
		background-color: #111839;
		border-color: #0e142f;
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}
	&:disabled {
		color: #fff;
		background-color: #373b52;
		border-color: #0d6efd;
	}
}
